# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build outputs
dist/
build/
android/
ios/

# OS / editor
.DS_Store
.idea/
.vscode/*.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# TypeScript
*.tsbuildinfo

# Environment & Secrets
.env*
!.env.example
*.pem
*.p12
*.mobileprovision
*.key
*.keystore
*key*.json
google-services.json
GoogleService-Info.plist

# Temporary files
*.tmp
*.temp
.cache/
